/*
 * DEFINITIONS
 */



/*
 * GLOBALS AND UTILITY CLASSES AND BOOTSTRAP OVERRIDES
 */

html,body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

body {
}

.center { text-align:center; }
.right { text-align:right; }
.left { text-align:left; }
.bold { font-weight:bold; }
.nowrap { white-space:nowrap; }

label {
    font-weight: normal;
}

/*
 * HEADER HACKS
 */

.navbar-header a.logoimage {
    float: right;
    margin-right: 5px;
    margin-top: 8px;

    img {
        height: 32px;
    }
}


/*
 * CALENDAR DATE PICKER THING
 */

:focus {
    outline: none !important;
}

div.uib-daypicker, div.uib-monthpicker {
    table {
        width: 100%;
    }
    td {
    }
    button {
        border-radius: 0;
        border: 1px solid silver;
        background-color: white;
        background-image: none;
    }
}



/*
 * COMPONENTS AND PANELS
 */

div.container-fluid {
    h3:first-child { /* first title on a page gets too much top margin */
        margin-top: 0;
    }
}

nav.navbar {
}

#searchform {
    label input {
        vertical-align: top;
    }
}

#noresults {
}

#resultslist {
}

#resultsmap {
}

#footer {
    margin-top: 0.25in;

    border-top: 2px solid silver;
}

#modal_datepicker {
    .modal-body input {
        width: 100%;
        font-size: 20px;
    }
}

#ui-datepicker-div {
    @media screen and (max-width: 425px) {
        position: fixed;
        top: 10px !important;
        left: 10px !important;
        width: calc(100% - 20px) !important;

        table {
            font-size: 20px !important;
        }
    }
}

#busy {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 10000000;
    background-color: white;
    opacity: 0.75;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -64px;
        margin-left: -64px;
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;

        margin-top: -.5em;
        margin-left: -2em;

        font-weight: bold;
        text-align: center;
        font-size: 50px;
        color: black;
    }
}
